/* colors */
/* font */
/* queries */
[class^='icon-'],
[class*=' icon-'],
.slick-arrow,
.select2-selection__arrow,
.lg-prev,
.lg-next
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before
{
    content: '\e900';
}

.icon-arrow-right:before
{
    content: '\e901';
}

.slick-next:before
{
    content: '\e901';
}

.slick-prev:before
{
    content: '\e900';
}

@font-face
{
    font-family: 'Officina';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/OfficinaSerifMediumC.eot');
    src: url('../fonts/OfficinaSerifMediumC.eot?#iefix') format('embedded-opentype'), url('../fonts/OfficinaSerifMediumC.woff') format('woff'), url('../fonts/OfficinaSerifMediumC.woff2') format('woff2'), url('../fonts/OfficinaSerifMediumC.ttf') format('truetype'), url('../fonts/OfficinaSerifMediumC.svg#Officina') format('svg');
}

@font-face
{
    font-family: 'Officina';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/OfficinaSerifBoldSCC.eot');
    src: url('../fonts/OfficinaSerifBoldSCC.eot?#iefix') format('embedded-opentype'), url('../fonts/OfficinaSerifBoldSCC.woff') format('woff'), url('../fonts/OfficinaSerifBoldSCC.woff2') format('woff2'), url('../fonts/OfficinaSerifBoldSCC.ttf') format('truetype'), url('../fonts/OfficinaSerifBoldSCC.svg#Officina') format('svg');
}

body
{
    font-family: 'Officina', 'Helvetica', Arial, serif;
    font-size: 70px;
    font-weight: 400;

    overflow: hidden;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #000; 
    background-color: #a86538;
    background-image: url('../images/background.jpg');
    -webkit-background-size: cover;
            background-size: cover;

    background-blend-mode: multiply;
}

button
{
    padding: 0; 

    border: none;
    outline: none;
    background: none;
}

.reset
{
    letter-spacing: 2px;
}

.lang
{
    letter-spacing: 4px;
}

.pressed
{
    color: #8f6752;
}

.js-quiz
{
    font-family: 'Officina', 'Helvetica', Arial, serif;
    font-weight: 500;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in; 
    letter-spacing: 8px;
    text-transform: uppercase;
}

.pic
{
    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

.welcome
{
    margin-top: 38px;

    text-align: center;
}
.welcome .js-quiz
{
    font-size: 76px;

    margin-top: 200px;

    color: #af2626;
}

.js-quiz:after
{
    display: block; 

    content: '';
}

.header
{
    font-size: 76px;

    margin-bottom: 10px;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in; 
    letter-spacing: 8px;
    text-transform: uppercase;
}
.header--under
{
    font-size: 74px;
    line-height: 88px;

    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

.question
{
    font-size: 160px;

    margin-top: 140px;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in; 
    letter-spacing: 8px;
    text-transform: uppercase;
}

.quiz
{
    text-align: center;
}

.answers
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-top: 380px;
    padding-right: 60px;
    padding-left: 60px; 

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}

.quiz-answer
{
    font-family: 'Officina', 'Helvetica', Arial, serif;
    font-size: 76px;
    font-weight: 500;

    max-width: 33%;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

.quiz-alert
{
    font-size: 42px;
    font-weight: 500;

    position: fixed;
    bottom: 270px;

    width: 100%;

    letter-spacing: 8px; 
    text-transform: uppercase;

    color: #8f6752;
}

.quiz-additional .js-quiz
{
    font-size: 42px;

    color: #af2626;
}

.quiz-additional--next
{
    position: fixed;
    bottom: 270px; 

    width: 100%;
}

.description
{
    font-size: 40px;

    max-width: 520px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;

    -webkit-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-left: 45px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer button
{
    font-family: 'Officina', 'Helvetica', Arial, serif;
    font-size: 40px;
    font-weight: 400;

    text-transform: uppercase; 

    color: #ba9865;
}

.hide
{
    display: none;
}

.animate-inside
{
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
            transform: scale(.3);

    opacity: 0;
}

.animate-down
{
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);

    opacity: 0;
}

.animate-top
{
    -webkit-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
            transform: translateY(-300px);

    opacity: 0;
}

.animate
{
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);

    opacity: 1;
}
